<% cache [@users.count, @users.maximum(:updated_at)] do %>
<h2>Users</h2>

<table id="userlist">
  <thead>
    <tr>
      <th>Name</th>
	  <th>Email</th>
	  <th>Registered</th>
	  <th>Topics</th>
	  <th>Posts</th>
    </tr>
  </thead>

  <tbody>
    <% for user in @users %>
	<% cache ["user_list", user] do %>
      <tr>
		<td><%= user %></td>
		<td><%= user.email %></td>
		<td><%= user.created_at.to_time.strftime("%d-%m-%Y") %></td>
        <td><%= link_to user.topics.count, user_topics_path(user) %></td>
		<td><%= link_to user.posts.count, user_posts_path(user) %></td>
      </tr>
	<% end %>
    <% end %>
  </tbody>
</table>
<% end %>