<% cache(@user) do %>
<h2><a href="#"><%= "#{@user.name}'s profile" %></a></h2>

<div class="profile">
	<div class="label">Name</div><div class="field"><%= @user.name %></div>
	<div class="label">Rank</div><div class="field"><%= ranks[@user.user_type] %></div>
	<div class="label">Email</div><div class="field"><%= @user.email %></div>
	<div class="label">Topics</div><div class="field"><%= link_to @user.topics.count, user_topics_path(@user) %></div>
	<div class="label">Posts</div><div class="field"><%= link_to @user.posts.count, user_posts_path(@user) %></div>
	<div class="label">Registered</div><div class="field"><%= @user.created_time %></div>
	<div class="label">Last seen</div><div class="field"><%= @user.last_login_time %></div>
</div>
<% end %>

<% if has_admin_power? %>
<div id="footer">
	<%= link_to "Edit this user", edit_user_path(@user) %>
</div>
<% elsif current_user == @user %>
<div id="footer">
	<%= link_to "Edit my profile", edit_user_registration_path %>
</div>
<% end %>