<h2>Forum index</h2>

<table>
  <thead>
    <tr>
	<th>Name</th>
	<th>Topics</th>
	<th>Posts</th>
	<th>Last Topic</th>
	<th>Updated</th>
	<% if has_admin_power? %>
      <th colspan="2"></th>
	<% end %>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
	<% last_topic = category.topics.order(updated_at: :desc).first %>
	<% if last_topic == nil %>
			<% updated_time = 0 %>
		<% else %>
			<% updated_time = format_time(category.updated_at) %>
		<% end %>
		
	<% cache(cache_key_for_index(category.id, updated_time)) do %>
      <tr>
        <td><%= link_to category.name, category %></td>
		<td><%= category.topics.count %></td>
		<td><%= category.posts.count %></td>
		<% if last_topic == nil %>
			<td>None</td>
			<td>None</td>
		<% else %>
			<td><%= link_to last_topic.name, [category, last_topic] %></td>
		
			<% if last_topic.posts.empty? %>
				<td><%= link_to updated_time, [category, last_topic] %></td>
			<% else %>
				<td><%= link_to updated_time, get_post_path(last_topic.posts.order(updated_at: :desc).first) %></td>
			<% end %>
		<% end %>
	<% end %>
		<% if has_admin_power? %>
			<td><%= link_to 'Edit', category %></td>
			<td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if has_admin_power? %>
<br>

<%= link_to 'New Category', new_category_path %>
<% end %>
