<h2>Forum index</h2>

<table id="index">
  <thead>
    <tr>
	<th class="category_name">Name</th>
	<th class="category_topics">Topics</th>
	<th class="category_posts">Posts</th>
	<th class="category_lasttopic">Last Topic</th>
	<th class="category_updated">Updated</th>
	<% if has_admin_power? %>
      <th class="category_admin_options" colspan="2"></th>
	<% end %>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
	<% last_topic = category.topics.order(updated_at: :desc).first %>
	<% if last_topic == nil %>
			<% updated_time = 0 %>
		<% else %>
			<% updated_time = format_time(category.updated_at) %>
		<% end %>
		
	<% cache(cache_key_for_index(category.id, updated_time)) do %>
      <tr>
        <td class="category_name"><%= link_to category.name, category %></td>
		<td class="category_topics"><%= category.topics.count %></td>
		<td class="category_posts"><%= category.posts.count %></td>
		<% if last_topic == nil %>
			<td class="category_lasttopic">None</td>
			<td class="category_updated">None</td>
		<% else %>
			<td class="category_lasttopic"><%= link_to last_topic.name, [category, last_topic] %></td>
		
			<% if last_topic.posts.empty? %>
				<td class="category_updated><%= link_to updated_time, [category, last_topic] %></td>
			<% else %>
				<td class="category_updated><%= link_to updated_time, get_post_path(last_topic.posts.order(updated_at: :desc).first) %></td>
			<% end %>
		<% end %>
	<% end %>
		<% if has_admin_power? %>
			<td class="category_admin_options"><%= link_to 'Edit', category %></td>
			<td class="category_admin_options"><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if has_admin_power? %>
<br>

<%= link_to 'New Category', new_category_path %>
<% end %>
